<div class="logo">
  <h1>V-BOARD</h1>
    <p>share the sound to your vibe</p>
  <div class="ball"></div>
  <div class="ball2"></div>
</div>


<div ng-view >
<!-- angular templates -->
</div>

<% if flash[:message] %>
  <div class="alert">
    <%= flash[:message] %>
  </div>
<% end %>
