<header ng-controller="HeaderController as ctrl">

    <% if current_user %>
    <form class="logout-button" action="<%= session_path %>" method="POST">
      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <label for="logout-button" class="logout-label">Bye <3</label>
      <input id="logout-button" type="submit" value="Log Out!" hidden>
    </form>
    <% end %>

    <div class="logo">
      <h1>V-BOARD</h1>
    </div>
    <p class="message">This is your V-BOARD, <span class="message-username">{{ctrl.current_user.username}}</span>. </p>

</header>
