<!DOCTYPE html>
<html ng-app="VibezApp">
  <head>
    <meta charset="utf-8">
    <title>V-BOARD</title>
    <%= stylesheet_link_tag    'angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="https:ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <base href="/">
  </head>
  <body>
    <main>
    <%= yield %>
  </main>
    <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  </body>
</html>
